.custom-bg {
	background-color: #FFAEC9;
	padding: 10px 0;
	margin-bottom: 10px;
}

.bgc {
	background-color: #99D9EA;
	min-height: 50PX;
}

.c-mb {
	margin-bottom: 10px;
}

.red {
	background-color: red;
}